*{
    padding: 0;
    margin: 0;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    font-family: Helvetica, sans-serif,consolas;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("books.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
}
h1{
    font-size: 55px;
    text-align: center;
    color:white;
    padding-bottom: 0;
}
p{
    color: #ffffffde;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    font-size: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:160px;
    height:160px;
    border-radius: 50%;
    border:3px solid #F5F5DC;
    padding: 1px;
  }

  #borderimg {
    border-image: url(border.png) 30 round;
  }







  a{
    font-family: consolas;
    text-decoration:none;
    position:relative;
    display:inline-block;
    padding:15px 30px;
    color:#F5F5DC;
    text-transform:uppercase;
    Letter-spacing:4px;
    font-size:24px;
    overflow:hidden;
    transition: 0.2s;
    border-radius: 5px;
}
a:hover{
    color:#da8423f6;
    text-decoration:none;
    /* background:#F5F5DC;
    box-shadow: 0 0 10px #F5F5DC, 0 0 40px #F5F5DC,0 0 80px #F5F5DC; */
    transition-delay: 0.5s;
}
#id2{
    box-shadow: none;
    background: none;
    padding:15px 17px;
    transition-delay: 0.2s;
    font-size: 28px;
}
#id3{
    /* box-shadow: none; */
    font-size: 20px;
}
#id4
{
    font-size:35px;
    transition-delay: 0.2s;

}
a span{
    position:absolute;
    display:block;
}
a span:nth-child(1)
{
    top:0;
    left:-100%;
    width:100%;
    height:2px;
    background:linear-gradient(90deg,transparent,#F5F5DC);
}
a:hover span:nth-child(1)
{
    left:100%;
    transition:1s;
}

a span:nth-child(3)
{
    bottom:0;
    right:-100%;
    width:100%;
    height:2px;
    background:linear-gradient(90deg,transparent,#F5F5DC);
}
a:hover span:nth-child(3)
{
    right:100%;
    transition:1s;
    transition-delay: 0.5s;
}

a span:nth-child(2)
{
    top:-100%;
    right:0;
    width:2px;
    height:100%;
    background:linear-gradient(180deg,transparent,#F5F5DC);
}
a:hover span:nth-child(2)
{
    top:100%;
    transition:1s;
    transition-delay: 0.25s;
}

a span:nth-child(4)
{
    bottom:-100%;
    left:0;
    width:2px;
    height:100%;
    background:linear-gradient(360deg,transparent,#F5F5DC);
}
a:hover span:nth-child(4)
{
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}
.id1{
    text-align: center;
}

.tran
{
    font-family: sans-serif;
    color:#F5F5DC;
    transition-property: height;
    transition-duration: 1.5s;
    height:40px;
}
.tran:hover{
    height:250px;   
}
.table
{
    color:white;
    font-family: sans-serif;
    font-size: 15px;
}